body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.catalog-web{
    h1 {
        font-weight: 1000;
        font-size: 3vw;
        margin-left: 6vw;
        padding: 0;
        margin-top: 10vw;
        margin-bottom: -3.7vw;
        color: #666;
    }
    
    .catalog {
        margin-top: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6vw;
        padding: 2vw;
    }    
}


.product {
    background-color: #eae6da;
    border-radius: 4vw;
    padding: 1.8vw;
    text-align: center;
    height: 23vw;
    width: 20vw;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-0.5vw);
}

.product img {
    position: absolute;
    margin-left: 1vw;
    margin-top: -8vw;
    width: 10vw;
}

.catalog h2 {
    text-align: center;
    margin-left: -1vw;
    margin-top: 3vw;
    width: 13vw;
    font-size: 1.7vw;
    font-weight: 1000;
    margin-bottom: 1vw;
    color: #898477;
}

.new {
    position: absolute;
    display: inline-block;
    background-color: #fb8638;
    color: white;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    margin: -1vw 0 0 -11vw;
    padding: 0 1.5vw;
    font-size: 1.3vw;
    font-weight: 1000;
}

.catalog p {
    text-align: center;
    margin-left: -1vw;
    width: 13vw;
    height: 3vw;
    font-size: 1.3vw;
    font-weight: 1000;
    color: #666;
    margin-bottom: 1vw;
}

.price {
    font-size: 1.6vw;
    font-weight: 1000;
    color: #000000;
}

.product-controls {
    position: absolute;
    text-align: center;
    width: 20vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

button {
    border: none;
    margin: 0.2vw;
    background-color: #d2ccbc;
    cursor: pointer;
    font-size: 1.6vw;
    font-weight: 1000;
}

.add-button {
    font-size: 1.5vw;
    padding: 0.3vw 1vw;
    border-radius: 1vw;
    color: #ffffff;
    background-color: #000000;
}

.add-button:hover {
    background-color: #fb8638;
}

.sort input[type="text"] {
    font-family: Arial, sans-serif;
    background-color: #eae6da;
    color: #333;
    font-size: 1.5vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    margin-left: 1vw;
    padding: 0.7vw;
    max-width: 15vw;
}

.sort{
    margin-top: -2.9vw;
    margin-left: 51vw;
    font-weight: 1000;
    font-size: 1.2vw;
}

.sort label{
    font-size: 1.5vw;
    font-weight: 1000;
    color: #333;
    margin: 0;
    text-align: left;
}
select{
    background-color: #eae6da;
    font-size: 1.5vw;
    padding: 0.7vw;
    color: #333;
    border-radius: 1vw;
    width: auto;
    border: 0.2vw solid #ccc;
    margin-top: -0.4vw;
}
option {
    font-size: 1vw;
    border: 0.2vw solid #ccc;
    color: #333;

}

.back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: #0000005b;
}
.basket {
    position: fixed;
    right: 1vw;
    top: 1vw;
    width: 45vw;
    background-color: #eae6da;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    padding: 1vw 2vw;
    max-height: 83vh;
    padding-bottom: 5vw;
    overflow-y: auto;
    z-index: 5;
}
.close{
    position: absolute;
    width: 1.5vw;
    top: 2vw;
    left: 45vw;
    transition: transform 0.3s ease;
}

.close:hover {
    transform: scale(1.3);
}

.cards{
    border-radius: 1vw;
    background-color: #d2ccbc;
}

.basket h2 {
    font-size: 2vw;
    font-weight: 1000;
    width: 80%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    text-align: center;
}

.basket p{
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-bottom: 0vw;
    font-weight: 1000;
    color: #898477;
}

.cart-item {
    display: flex;
    align-items: center;
    padding-bottom: 1vw;
}

.cart-item img {
    padding-left: 2vw;
    height: 10vw;
    width: auto;
    margin-right: 4vw;
}

.cart-item h4 {
    font-size: 1.5vw;
    font-weight: 1000;
    color: #898477;
    text-align: left;
}

.cart-item p {
    font-size: 1.2vw;
    font-weight: 1000;
    color: #666;
    margin: 0;
    text-align: left;

}

.counter {
    margin-left: 15vw;
    background-color: #eae6da;
    border-radius: 0.5vw ;
    color: #666;
}

span{
    font-size: 1.9vw;
}

.counter button {
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    font-size: 2vw;
    cursor: pointer;
    background-color: #eae6da;
    color: #666;
}

.remove-button {
    background-color: #e74c3c;
    position: absolute;
    font-weight: 1000;
    font-size: 1.5vw;
    padding: 0.3vw 1vw;
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer;
    left: 36vw
}
.basket h3{
    position: absolute;
    font-size: 1.5vw;
    font-weight: 1000;
}
h3 span{
    font-size: 1.5vw;
    font-weight: 1000;
}
.Order{
    position: absolute;
    background-color: #000000;
    font-weight: 1000;
    font-size: 1.5vw;
    padding: 0.3vw 1vw;
    border-radius: 1vw;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1.1vw;
    left: 35.5vw;
}

.Order:hover {
    background-color: #fb8638;
}

.cartIcon{
    position: absolute;
    z-index: 4;
    top: 3vw;
    left: 93vw;
    width: 4vw;
    transition: transform 0.3s ease;
}

.cartIcon:hover {
    transform: scale(1.2);
}

.back2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background-color: #0000005b;
}